# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Informatica_Romana\An_2\Sem_2\Medii_de_proiectare_si_programare\Laborator\mppP7\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
